body {
  background-color: #27AE60;
}

*::-webkit-input-placeholder {
  color: white;
}

h1 {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
.logo {
  margin: 0 auto;
  display: block;
}
.padded {
  width: 60%;
  margin: 0 auto;
}

.main-message {
  text-align: center;
}

#login .padded, #register .padded {
  margin-top: 20%;
}
.trips-remaining {
  font-size: 72px;
  line-height: 50px;
  margin-bottom: 5px;
}
